* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #ffb900;
  --font-heading: Sen, sans-serif;
}
body {
  font-size: 1.6rem;
  font-family: "poppins";
}

/* Common */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 1.6rem;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  font-weight: 600;
  text-align: center;
  border-radius: 24.5px;
  background-color: #171100;
  display: inline-block;
  color: #ffffff;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}
/* Header */
.header.fixed {
  position: sticky;
  top: -28px;
}
.header {
  background: #fffcf4;
}

.header .body {
  align-items: center;
  display: flex;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.header .nav {
  display: flex;
}

.body .nav a {
  position: relative;
  padding: 8px 21px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #5f5b53;
}

.body .nav a:hover {
  font-size: 1.6rem;
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a {
  font-size: 1.6rem;
  color: #171100;
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 3px;
  border-radius: 1px;
  background-color: #171100;
  bottom: 6px;
  left: 21px;
}

.header .sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* Hero -left*/

.hero {
  padding: 64px 0 65px;
  background-color: #fffcf4;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

.hero .body {
  display: flex;
}

.hero .media-block {
  width: 49%;
  position: relative;
}

.hero .hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  width: 270px;
  padding: 24px;
}

.hero .hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  background-color: #fff9e8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .info .label {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}

.hero-summary .info .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .item:nth-of-type(2) .icon {
  background-color: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
  background-color: #ebeaff;
}

/* HERO-right */

.hero .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}

.hero .content-block .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.content-block .desc {
  margin-top: 22px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
}

.content-block .cta-group {
  margin: 38px 0 48px;
  display: flex;
  align-items: center;
}

.cta-group .btn-cta {
  border-radius: 32px;
  background: var(--primary-color);
  min-width: 180px;
  line-height: 64px;
}

.hero .cta-group .play {
  margin-left: 28px;
  border: none;
  background: #fffcf4;
  align-items: center;
  display: flex;
}

.hero .play .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .play span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67px;
}

.hero .stats strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
  padding: 0 8px 0 28px;
}

.hero .stats {
  margin: 8px;
  margin-left: -28px;
}

/* POPULAR */

.popular {
  padding: 65px 0;
  margin-top: 135px;
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .heading {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: -0.76px;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.popular .controls {
  display: flex;
  gap: 18px;
}

.popular .control-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #ffb900;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

.popular .control-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.popular .course-item {
  flex: 1;
  border: 1px solid #e2dfda;
  border-radius: 12px;
}

.popular .course-item:hover {
  border-color: transparent;
  box-shadow: 0px 18px 36px 0px #0000000d;
}

.popular .course-item .thumb {
  margin: -1px;
  width: calc(100% + 2px);
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.popular .course-item .info {
  padding: 16px 22px 22px 22px;
}

.popular .course-item .rating,
.popular .course-item .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular .course-item .title a {
  padding-right: 6px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.popular .head .value {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  margin-left: 6px;
}

.popular .course-item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.popular .course-item .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.popular .course-item .price {
  font-size: 1.8rem;
  font-weight: 600;
}

.popular .course-item .book-btn {
  border: none;
}

.popular .course-item .book-btn:hover {
  background-color: var(--primary-color);
}
